@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;400;600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  box-sizing: border-box;
}

body { 
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle, #32b1d1 10%, pink 50%);
  overflow: hidden;
}


.main-container{
    background: pink !important;
    font-family: 'Pacifico', cursive !important;
    min-height: 450px;
 }

.header-container-up {
 position: absolute;
 margin-top: -120px;
}

.header-container-down {
    position: absolute;
    margin-top: 120px;
}
   

.heart {
  position: fixed;
  font-size: 2.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
}













  .relative{
    position:relative;
    border:none;
    padding: 0.5rem 1rem;
    border-radius:2.5rem;
    height:5rem;
    width:5rem;
    color:white;
    display:grid;
    place-items:center;
  }
  
  .absolute{
    position:absolute;
    left:0;
    top:0;
    HEIGHT:100%;
    WIDTH:100%;
    border-radius:2.5rem;
  }
  
  .aura1{
    box-shadow:0px 0px 10px 0px rgb(77, 187, 255);
     animation:escalar 2.75s infinite linear;
  }
  
  .aura2{
    box-shadow:0px 0px 10px 0px ORANGE;
     animation:escalar 1.75s infinite linear;
  }
  
  .aura3{
    box-shadow:0px 0px 10px 0px WHITE;
     animation:escalar 1.25s infinite linear;
  }
  
  .aura4{
    box-shadow:0px 0px 10px 0px yellow;
    animation:escalar 1s infinite linear;
  }
  
  
  .corazon{
    font-size:2rem;
    animation:latido 1s infinite linear;
  }
  
  @keyframes escalar{
    0% {
      
    }
    100%{
      transform: scale(10);
      opacity:0;
    }
    
  }
  
  @keyframes latido {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1.5 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1.5 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  }
  
  
  
  
